@import "_config.scss";

header {
	position: relative;
	display: block;
	width: 100%;
	background: $blue-grey;
	color: $white;
	height: 90px;

	.logo {
		position: absolute;
		top: 50%; left: 15px;
		@include translateY(-50%);

		img {
			width: 10%; // works but not sure if correct approach
		}
	}

	nav,
	nav ul,
	nav ul li {
		margin: 0;
		padding: 0;

		a {
			color: $mustard;
		}
	}

	nav {
		position: absolute;
		top: 50%; right: 15px;
		@include translateY(-50%);

		ul li {
			list-style-type: none;
			display: inline-block;
			margin-right: 10px; 
		}

	}

}

body {
	.homepage {

		img {
			  width: 100%;
			  object-fit: cover; // ensures picture doesnt get squashed
			  height: 300px;
		}

		.mainhome {
			background-color: $light-blue;
			height: 200px;

			.welcome {
				float: left;
				width: 50%;
				padding: 20px;
				// needs something for mobile version - text overflowing
			}

			.homebuttons {
				margin-left: 50%; // same as .welcome width so divs are side by side
				min-height: 200px;
				display: flex;
  				align-items: center;
  				justify-content: center;
				
				.btn {
					margin-left: 4px; 
					margin-right: 4px;				
				}
			}		
		}
	}

	.portfolio {
		height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
		perspective: 4px;
		perspective-origin: 0%;
		background-color: #bec8e2;

		.intro {
			display: flex;
			background-color: #bec8e2;
			height: 20vh;
			align-items: center;
			justify-content: center;

			h1 {
				font-size: 48px;
			}

		}

		.uline {
			display: block;
			margin-bottom: 60px;

			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			
		}

		.parallax {
			padding: 5px;
			margin: 40px;
      		border: 1px solid #dbdde0;
      		background-color: #e6e6e6;
      		height: 100vh;
      		
		}

		.parallax::after {
			content: " ";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			transform: translateZ(-1px) scale(1.5);
			background-size: 100%;
		  	/* Not sure if needed */
		  	z-index: -1;

		}

		.static {
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			text-shadow: 0 0 2px #000;
			background: #f2de9f;
			height: 30vh;
			transform: translateZ(1px);

		}

		.outro {
			display: flex;
			background-color: #bec8e2;
			height: 40vh;
			padding-top: 24vh;
			align-items: center;
			justify-content: center;
		}
	}
}

footer {
	position: absolute;
	display: block;
	width: 100%;
	background: $blue-grey;
	color: $mustard;
	height: 70px;
	text-align: center;
	line-height: 70px; //same as height to vertically centre text
}
